<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Node Authentication Examples</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Node Authentication</h1>
            <p>Login or Register with:</p>
            <a class="btn btn-default" href="/login"><span class="fa fa-user"></span> Local Login</a>
            <a class="btn btn-default" href="/signup"><span class="fa fa-user"></span> Local Signup</a>
            <a class="btn btn-primary" href="/auth/facebook"><span class="fa fa-facebook"></span> Facebook</a>
            <a class="btn btn-info" href="/auth/twitter"><span class="fa fa-twitter"></span> Twitter</a>
            <a class="btn btn-danger" href="/auth/google"><span class="fa fa-google-plus"></span> Google</a>
        </div>
    </div>
</body>
</html>
